.hi1 {
  position: relative;
  top: 3.71vw;
  left: 24.5vw;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.5vw;
  color: black;
  text-align: center;
  padding: 5px;
  background-color:;
}
.hi1:hover {
  background-color: #F26522;
  color: white;
}

.hi2 {
  position: relative;
  top: 3.71vw;
  left: 29.4vw;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.5vw;
  color: black;
  padding: 5px;
  background-color:;
}

.hi2:hover {
  background-color: #F26522;
  color: white;
}

.hi3 {
  position: relative;
  top: 3.71vw;
  left: 34vw;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.5vw;
  color: black;
  padding: 5px;
  background-color:;
}

.hi3:hover {
  background-color: #F26522;
  color: white;
}

.hi4 {
  position: relative;
  top: 3.71vw;
  left: 39vw;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.5vw;
  color: black;
  padding: 5px;
  background-color:;
}

.hi4:hover {
  background-color: #F26522;
  color: white;
}

.hi5 {
  position: relative;
  top: 3.71vw;
  left: 43vw;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.5vw;
  color: black;
   padding: 5px;
  background-color:;
}
.hi5:hover {
  background-color: #F26522;
  color: white;
}
.hi6 {
  position: relative;
  width: 5.21vw;
  height: 5.21vw;
  top: 7vw;
  left: 1vw;
  align-self: center;
}
.hi7 {
  position: relative;
  width: 5.21vw;
  height: 5.21vw;
  top: 9vw;
  left: 1vw
}

.hi8 {
  position: relative;
  width: 5.21vw;
  height: 5.21vw;
  top: 12vw;
  left: 1vw
}

.hi9 {
  position: relative;
  width: 5.21vw;
  height: 5.21vw;
  top: 16vw;
  left: 1vw
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}