.hi0 {
  position: relative;
  top: 3vw;
  left: 25vw;

}
.hi1 {
  position: relative;
  top: 0.71vw;
  left: 30vw;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.5vw;
  color: black;
}

.hi2 {
  position: relative;
  top: 0.71vw;
  left: 34vw;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.5vw;
  color: black;
}

.hi3 {
  position: relative;
  top: 0.71vw;
  left: 38vw;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.5vw;
  color: black;
}

.hi4 {
  position: relative;
  top: 0.71vw;
  left: 42vw;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.5vw;
  color: black;
}

.hi5 {
  position: relative;
  top: 0.71vw;
  left: 46vw;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.5vw;
  color: black;
}

.box {
  width:auto;
  height:45vw ;
  background-color: white;
}


.hi6 {
  position: relative;
  top: 4vw;
  left: 25vw;
}

.hi7 {
  position: relative;
  top: 4vw;
  left: 27vw;
}

.hi8 {
  position: relative;
  top: 4vw;
  left: 29vw;
}

.hi9 {
  position: relative;
  top: 8vw;
  left: 25vw;
}

.hi10 {
  position: relative;
  top: 8vw;
  left: 27vw;
}

.hi11 {
  position: relative;
  top: 8vw;
  left: 29vw;
}

.hi12 {
  position: relative;
  top: 1vw;
  left: 25vw;
}

.hi13 {
  position: relative;
  top: 1vw;
  left: 35vw;
  font-family: arial;
  align-items: center;
  font-size: 1vw

}


